body {
    font-family: 'Times New Roman';
    background-color: #1E0D1E; /* Set the background color */
    color: #fff; /* Set the default text color to white */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
}

h2, .question-text {
    color: #BE3144; /* Set the color for header and question text */
}

.quiz-container {
    width: 500px;
    box-sizing: border-box;
}

.choices-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
}

.choice-button {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
}

.choice-image {
    width: 100px;
    height: 100px;
}

.active-question-no {
    font-size: 32px;
    font-weight: 500;
    color: #1E0D1E; /* Adjust color as needed */
}   

.total-question {
    font-size: 16px;
    font-weight: 500;
    color: #1E0D1E; /* Adjust color as needed */
}

h2 {
    font-size: 20px;
    font-weight: 500px;
    margin: 0;
}

/* index.css */

.red-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .red-button:hover {
    background-color: darkred;
  }
  




