h1{
    color: white;
    font-size: 75px;
}

.array{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 336px;
    height: 503px;
    box-shadow: 0px, 0px, 10px, 0px, rgba(0,0,0,0.8);
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 17px;
    transition: transform 0.3s;
}

.info{
    position: absolute;
    top: 15px;
    left: 20px;
    width: 324px;
    background: linear-gradient(180deg, #BE3144, #872341);
    opacity: 0;
    box-shadow: 0px, 0px, 10px, 0px, rgba(0,0,0,0.8);
    border-radius: 17px;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.5s;
    pointer-events: none;
}

.name{
    color: white;
    margin-top: 15px;
    margin-bottom: 0px;
}


