.footer {
  background-color: #22092C;
  color: #BE3144;
  font-family: 'dm sans', sans-serif;
  padding: 20px;
  text-align: center;
}

.socialIcons {
  margin-bottom: 20px;
}

.icon {
  font-size: 24px;
  margin-right: 20px;
  color: #BE3144;
}

.links {
  margin-bottom: 25px;
}

.link {
  color: #BE3144;
  text-decoration: none;
  margin-right: 25px;
  font-weight: bold;
}

.bottomText {
  margin-top: 30px;
}

.bottomTextSpan {
  font-family: 'dm sans', sans-serif;
  font-weight: bold;
  color: #E44A3E;
}