body {
  margin: auto;
  padding: 0;
  background-color: #22092C;
}
h1{
  padding-bottom: 1%;
  padding-top: 2%;
  padding-left: 1%;
  font-size: 40;
}
.app{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.title{
  color:white;
  margin-top: 110%;
  display:inline-flex;
  font-size: 12px;
}
.card{
  /*background-color: #D2364B;*/
  margin: auto;
  display: inline-block;
  color: #22092C;
  z-index: 2;
  width: 190px;
  height: 280px;
  border-radius: 5%;
  background-image: linear-gradient(#FFFFFF,#1D1D1D);
  text-align: center;
}
.card:hover{
  transform:scale(1.09);
}
.trend-now-list, .oscar-list, .upcoming-release-list{
  columns: 5;
  display: flex;
  margin: auto;
}
.review-list{
  columns: 3;
}
.review-card{
  display: inline-block;
}

/* ---------------  */
/* ---------------  */
/* ---------------  */

body {
  font-family: Arial;
  margin: 0;
}


.header {
  padding: 20px 20px 20px 20px;
  text-align: left;
  background: #1E0D1E;
  color: white;
  font-size: 30px;
  max-height: 60px;
}


.content {
  padding: 20px;
}


.header p {
  display: inline;
  margin-right: 10px;
}

#logo {
  color: #D2364B;
  font-weight: bold;
  font-size: 20px;
  width: 133px;
  text-align: left;
  line-height: 14px;
  display: inline-flex;
}

.nav {
  list-style-type: none;
  display: inline-flex;

  li {
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.actions {
  position: relative;
  float: inline-end;
  top: 25px;
  display: inline-flex;
  i {
    padding-left: 15x;
    padding-right: 15px;
  }

 
}

.action-icon {
    font-size: 30px;
    margin-right: 20px;
    color: #fff;
}